/* sea:Blue based */
.sea-900 {
  color: #000082 !important;
}

.sea {
  color: #0017C1 !important;
}

.sea-700 {
  color: #0031D8 !important;
}

.sea-600 {
  color: #1A3EE8 !important;
}

.sea-500 {
  color: #264AF4 !important;
}

.sea-400 {
  color: #4979F5 !important;
}

.sea-300 {
  color: #7096F8 !important;
}

.sea-200 {
  color: #9DB7F9 !important;
}

.sea-100 {
  color: #C5D7FB !important;
}

.sea-50 {
  color: #E8F1FE !important;
}

/* sumi: Black based */
.sumi {
  color: #1A1A1C !important;
}

.sumi-800 {
  color: #414143 !important;
}

.sumi-700 {
  color: #626264 !important;
}

.sumi-600 {
  color: #757578 !important;
}

.sumi-500 {
  color: #949497 !important;
}

.sumi-400 {
  color: #B4B4B7 !important;
}

.sumi-300 {
  color: #D8D8DB !important;
}

.sumi-200 {
  color: #E8E8EB !important;
}

.sumi-100 {
  color: #F1F1F4 !important;
}

.sumi-50 {
  color: #F8F8FB !important;
}

/* Forest: Green based */
.forest-900 {
  color: #115A36 !important;
}

.forest-800 {
  color: #197A4B !important;
}

.forest-700 {
  color: #1D8B56 !important;
}

.forest {
  color: #259D63 !important;
}

.forest-500 {
  color: #2CAC6E !important;
}

.forest-400 {
  color: #51B883 !important;
}

.forest-300 {
  color: #71C598 !important;
}

.forest-200 {
  color: #9BD4B5 !important;
}

.forest-100 {
  color: #C2E5D1 !important;
}

.forest-50 {
  color: #E6F5EC !important;
}

/* Wood: Brown based */
.wood-900 {
  color: #B65200 !important;
}

.wood {
  color: #C16800 !important;
}

.wood-700 {
  color: #C87504 !important;
}

.wood-600 {
  color: #CD820A !important;
}

.wood-500 {
  color: #D18D0F !important;
}

.wood-400 {
  color: #D69C2B !important;
}

.wood-300 {
  color: #DCAC4D !important;
}

.wood-200 {
  color: #E1C383 !important;
}

.wood-100 {
  color: #E7D8B9 !important;
}

.wood-50 {
  color: #F3EEE5 !important;
}

/* Sun: Red based */
.sun-900 {
  color: #D50000 !important;
}

.sun {
  color: #EC0000 !important;
}

.sun-700 {
  color: #FA1606 !important;
}

.sun-600 {
  color: #FF220D !important;
}

.sun-500 {
  color: #FF4B36 !important;
}

.sun-400 {
  color: #FF5838 !important;
}

.sun-300 {
  color: #FF7B5C !important;
}

.sun-200 {
  color: #FFA28B !important;
}

.sun-100 {
  color: #FFC8B8 !important;
}

.sun-50 {
  color: #FFE7E6 !important;
}